<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="d-flex gap-3 position-relative">
    <div class="card actual-card">
      <div class="card-body">
        <div class="d-flex flex-column gap-3">
          <ng-container *ngFor="let item of drawnCard">
            <div class="card">
              <div class="card-body">
                {{ item }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <button
      [@slideLeft]="deckSlideState"
      (@slideLeft.done)="deckAnimationFinished($event)"
      class="card deck p-0 border-5 border-black z-1"
      *ngIf="(deck?.length ?? 0) > 0"
      (click)="drawCard()"
    >
      <div class="w-100 h-100 bg-black p-2 text-dark bg-opacity-50">
        <div class="d-flex h-100 flex-column justify-content-between">
          <p class="just-one-icon text-white">Just One</p>
          <div>
            <p class="text-light">
              (click to draw)<br>
              {{ deck.length }} cards left
            </p>
          </div>
        </div>
      </div>
    </button>
    <button
      class="card deck p-0 border-5 border-black position-absolute right-0 z-0"
      *ngIf="(deck?.length ?? 0) > 0"
      (click)="drawCard()"
    >
      <div class="w-100 h-100 bg-black p-2 text-dark bg-opacity-50">
        <div class="d-flex h-100 flex-column justify-content-between">
          <p class="just-one-icon text-white">Just One</p>
          <div>
            <p class="text-light">
              (click to draw)<br>
              {{ deck.length }} cards left
            </p>
          </div>
        </div>
      </div>
    </button>
  </div>

  <div class="position-fixed bottom-0 end-0 mb-3 me-3">
    <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
  </div>
</div>
